.genre-button {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    color: var(--text-color);
    background-color: var(--light-primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .genre-button:hover {
    background-color: var(--darker-primary-color);
  }