:root {
    --bkg-color: #030100;
    --pastel-light-color: #9C8581;
    --dark-primary-color: #4E0808;
    --darker-primary-color: #800000;
    --light-primary-color: #A32C2C;
    --text-color: #FFF5F5;
  }